# Node modules
node_modules/

# Build output
dist/
out/

# Environment variables
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Electron Packaged Apps
*.exe
*.dmg
*.app
*.asar
*.tar.gz

# Cache
.cache/
